.date-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    text-align: center;
    height: 30px;
  }
  
  .day-of-week {
    color: darkorange;
    font-size: 30px;
    margin-right: 650px;
  }
  
  .current-date {
    color: darkorange;
    font-size: 30px;
  }
  